/* Color Theme Swatches in Hex 
.principal { color: #204012; }
.background { color: #2F591B; }
.destaque { color: #B9D99A; }
.UI/UX-4-hex { color: #592F0A; }
.UI/UX-5-hex { color: #D9B19A; }
*/

.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}


html{
	background: #2F591B;
	color: #204012

	font-size: 18px;
	font-family: "Titillium Web", sans-serif;
	
}

p{
	text-indent: 1em;
}

h1,h2,h3{
	text-align: center;
}

h1{
	font-size:1.8rem;
}

h2{
	font-size:1.4rem;
}

h3{
	font-size:1.2rem;
}

.summary{
	text-align: right;
}

.main p{
	line-height: 1.5;
}

abbr{font-variant: small-caps;}
